In [2]:
import pandas as pd
import seaborn as sns

In [3]:
# read filtered comments data
filtered_comments = pd.read_json('rq1_comments.json')

In [6]:
# shows number of comments
comments_per_day = filtered_comments.groupby(filtered_comments['datetime'].dt.date).agg(
    {'body':'size', 'author':'nunique'})

In [7]:
comments_per_day

            body  author
datetime
2018-07-30   919     403
2018-07-31  1182     475
2018-08-01  1302     501
2018-08-02  1111     438
2018-08-03   888     393
...          ...     ...
2018-11-23   269     154
2018-11-24   289     135
2018-11-25   353     165
2018-11-26   339     157
2018-11-27   412     189

[120 rows x 2 columns]