In [49]:
# import statements
import pandas as pd
import numpy as np
import seaborn as sns
from  datetime import datetime

In [50]:
# read comments data
comments = pd.read_json('trp_comments.json')

In [51]:
comments.columns.unique()

Index(['author', 'author_flair_background_color', 'author_flair_css_class',
       'author_flair_richtext', 'author_flair_template_id',
       'author_flair_text', 'author_flair_text_color', 'author_flair_type',
       'author_fullname', 'author_patreon_flair', 'body', 'created_utc',
       'gildings', 'id', 'is_submitter', 'link_id', 'locked', 'no_follow',
       'parent_id', 'permalink', 'retrieved_on', 'score', 'send_replies',
       'stickied', 'subreddit', 'subreddit_id', 'updated_utc', 'distinguished',
       'author_created_utc', 'can_gild', 'collapsed', 'collapsed_reason',
       'controversiality', 'gilded', 'nest_level', 'reply_delay',
       'subreddit_name_prefixed', 'subreddit_type', 'user_removed', 'edited',
       'mod_removed', 'author_cakeday', 'score_hidden', 'rte_mode',
       'all_awardings', 'associated_award', 'author_premium', 'awarders',
       'collapsed_because_crowd_control', 'total_awards_received',
       'treatment_tags', 'top_awarded_type'],
      dtype='object')

In [52]:
# filter to relevant columns
comments = comments[['id', 'created_utc','user_removed', 'author', 'author_fullname', 'body']]

In [53]:
# set index to comment id
comments.set_index('id', inplace=True)

In [54]:
# Change from UNIX time to human-readable format
comments['datetime'] = pd.to_datetime(comments['created_utc'], infer_datetime_format=True, unit='s')
comments['date'] = pd.to_datetime(comments['datetime']).dt.date
comments['day'] = pd.to_datetime(comments['datetime']).dt.day
comments['month'] = pd.to_datetime(comments['datetime']).dt.month
comments['year'] = pd.to_datetime(comments['datetime']).dt.year

In [55]:
# Observing only the comments 60 days before and 60 days after 09/28/2018 (07/30/2018 - 11/27/2018) in the dataset.
comments=comments[(comments['datetime'] > '2018-07-30') & (comments['datetime'] < '2018-11-27')]
comments

,created_utc,user_removed,author,author_fullname,body,datetime,date,day,month,year
id,,,,,,,,,,
e99dzqr,1541635050,NaN,I_am_Jax_account,t2_hahkv05,You know after 7 years of inactivity on a debt...,2018-11-07 23:57:30,2018-11-07,7,11,2018
e99dpzm,1541634816,1.0,[deleted],None,[deleted],2018-11-07 23:53:36,2018-11-07,7,11,2018
e99dmvj,1541634741,NaN,PleezSitOnMyFace,t2_23y07sbg,"I work in the service industry, can attest to ...",2018-11-07 23:52:21,2018-11-07,7,11,2018
e99ddqh,1541634516,1.0,[deleted],None,[deleted],2018-11-07 23:48:36,2018-11-07,7,11,2018
e99dag2,1541634434,NaN,[deleted],None,[removed],2018-11-07 23:47:14,2018-11-07,7,11,2018
...,...,...,...,...,...,...,...,...,...,...
e6j3wx5,1537759673,NaN,sandowian,t2_ntdrl,If you have time to think and pay attention to...,2018-09-24 03:27:53,2018-09-24,24,9,2018
e6kkjk9,1537822204,NaN,Kasplazm,t2_4v13h,It's honestly not that hard.,2018-09-24 20:50:04,2018-09-24,24,9,2018
e3erbm0,1533128896,NaN,-Fidelio-,t2_1u0w0bi6,It's never easy to accept topics that go again...,2018-08-01 13:08:16,2018-08-01,1,8,2018
e3erb3g,1533128880,NaN,WolfofAllStreetz,t2_hw3lvq6,"Good post from a youngin, seems like you are d...",2018-08-01 13:08:00,2018-08-01,1,8,2018
e3erb1l,1533128878,NaN,sadomasochrist,t2_xvop2,"It closes by blaming ""that one man"" who made t...",2018-08-01 13:07:58,2018-08-01,1,8,2018

In [56]:
# Obtaining the number of comments according to date
date_count = comments[['body','date']].groupby('date').count() 
date_count = datetime_count.sort_values(by='date')
date_count

            body
date
2018-07-30   919
2018-07-31  1182
2018-08-01  1302
2018-08-02  1111
2018-08-03   888
...          ...
2018-11-22   195
2018-11-23   269
2018-11-24   289
2018-11-25   353
2018-11-26   339

[119 rows x 1 columns]

In [57]:
# Obtaining the number of daily active users
daily_active_users= comments.groupby(['date']).nunique()['author']
daily_active_users

date
2018-07-30    403
2018-07-31    475
2018-08-01    501
2018-08-02    438
2018-08-03    393
             ...
2018-11-22    111
2018-11-23    154
2018-11-24    135
2018-11-25    165
2018-11-26    157
Name: author, Length: 119, dtype: int64